
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# Django stuff
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.db

# Django migrations
*/migrations/*.pyc
*/migrations/*.py
*/migrations/__pycache__/

# IDE / editor files
.vscode/

*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
